body {
    background-color: #FFF;
    font-family: Roboto, Calibri, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
}

#main-sep {
    background-image: linear-gradient(to right, rgba(40, 40, 40, 0), rgba(40, 40, 40, 1), rgba(40, 40, 40, 0));
    border: 0;
    height: .25rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.card {
    border: 1px solid #969696;
    box-shadow: 0 2px 4px grey;
    display: inline-block;
    height: 640px;
    margin: 1rem;
    padding: 1rem 1.5rem;
    position: relative;
    vertical-align: top;
    width: 480px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.center-text {
    text-align: center;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

.content {
    margin-left: 8rem;
    margin-right: 8rem;
}

.content a:hover {
    color: #780000;
}

.dropdown-btn {
    color: #FFF;
    cursor: pointer;
    letter-spacing: .1rem;
    padding: 1rem;
    transition-duration: .3s;
}

.dropdown-btn:hover+.dropdown-content,
.dropdown-content:hover {
    display: block;
    opacity: 1;
    transition-duration: .3s;
    visibility: visible;
}

.dropdown-content {
    background-color: #282828;
    min-width: 12rem;
    opacity: 0;
    position: absolute;
    transition: visibility .3s linear, opacity .3s linear;
    visibility: hidden;
    z-index: 999;
}

.dropdown-content a {
    display: block;
    float: none;
    padding: .5rem .5rem .5rem 1rem;
}

.float-right {
    float: right;
}

.footer {
    font-size: .75rem;
    margin-top: 3rem;
    text-align: center;
}

.left-text,
.project-desc {
    text-align: left;
}

.nav-item {
    display: inline-block;
    padding: 1rem;
}

.nav-item:hover,
.dropdown-content a:hover {
    background: #780000;
}

.nav-menu-btn {
    color: #fff;
    display: none;
    font-size: 1.5rem;
    padding: .75rem;
}

.nav-title {
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    letter-spacing: 0;
    padding: .5rem;
}

.project-link {
    bottom: 0;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 1rem 1.5rem;
    position: absolute;
    right: 0;
}

.repo-link {
    bottom: 0;
    font-size: 1.1rem;
    font-weight: 700;
    left: 0;
    margin: 1rem 1.5rem;
    position: absolute;
}

.right-text {
    text-align: right;
}

.screenshot {
    border: 1px solid grey;
    height: 380px;
    margin-top: .5rem;
    max-width: 100%;
}

.subtitle {
    font-size: 1.25rem;
}

.title {
    font-size: 3rem;
}

.top-nav {
    background-color: #282828;
    box-shadow: 0 2px 4px #000;
    font-size: 1rem;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.top-nav+.content {
    padding-top: 4rem;
}

.top-nav a {
    color: #fff;
    letter-spacing: .1rem;
    transition-duration: .3s;
}

a {
    text-decoration: none;
}


@media screen and (max-width: 1400px) {
    .content {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 600px) {
    #top-nav+.content {
        padding-top: 2rem;
    }
    .card {
        height: auto;
        margin: 1rem 0;
        padding: .5rem 1rem;
        width: 85%;
    }
    .content {
        margin: 0 .2rem;
    }
    .menu-open {
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .menu-open .dropdown-btn:hover+.dropdown-content {
        display: block;
    }
    .menu-open .dropdown-content {
        background-color: #464646;
        opacity: 1;
        position: relative;
        visibility: visible;
        width: 100%;
    }
    .menu-open .float-right {
        float: none;
    }
    .menu-open .nav-item {
        display: block;
        text-align: left;
        width: 100%;
    }
    .menu-open .nav-menu-btn {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu-open+.content {
        padding-top: 0;
    }
    .nav-item {
        display: none;
    }
    .nav-menu-btn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .project-link {
        float: right;
        padding: .25rem;
        position: relative;
    }
    .screenshot {
        height: auto;
    }
    .subtitle {
        font-size: 1rem;
    }
    .title {
        font-size: 2rem;
    }
}