
.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.modal {
    max-width: 500px !important;
}

.card-title {
    font-weight: bold !important;
}

.preloader-background {
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgb(200, 200, 200);
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.loading-text {
    padding-top: 120px;
    margin-left: -65px;
    opacity: 0.8;
} 